name: Build & Push Docker Images

on:
    push:
        tags:
            - "v*.*.*"

jobs:
    docker:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Extract version (strip v)
              id: version
              run: |
                  TAG="${GITHUB_REF#refs/tags/}"
                  VERSION="${TAG#v}"
                  echo "VERSION=$VERSION" >> $GITHUB_ENV

            # ---------- ingest-api ----------
            - name: Build & push ingest-api
              uses: docker/build-push-action@v5
              with:
                  context: ./packages/ingest-api
                  push: true
                  tags: |
                      logtracker/ingest-api:${{ env.VERSION }}
                      logtracker/ingest-api:latest

            # ---------- worker ----------
            - name: Build & push worker
              uses: docker/build-push-action@v5
              with:
                  context: ./packages/worker
                  push: true
                  tags: |
                      logtracker/worker:${{ env.VERSION }}
                      logtracker/worker:latest

            # ---------- admin-api ----------
            - name: Build & push admin-api
              uses: docker/build-push-action@v5
              with:
                  context: ./packages/admin-api
                  push: true
                  tags: |
                      logtracker/admin-api:${{ env.VERSION }}
                      logtracker/admin-api:latest

            # ---------- admin-ui ----------
            - name: Build & push admin-ui
              uses: docker/build-push-action@v5
              with:
                  context: ./packages/admin-ui
                  push: true
                  tags: |
                      logtracker/admin-ui:${{ env.VERSION }}
                      logtracker/admin-ui:latest
